.input-field {
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 3%;
}

/*.header-text {
  text-align: center;
}*/

p {
  font-size: 1em;
}

.select-label {
  margin: -3%;
}

#page-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Pacifico', cursive;
  align-items: center;
  color: #FFC107;
  text-shadow: 2px 2px #757575;
  text-align: center;
}

#logo {
  padding-bottom: 5%;
}

ul.dropdown-content.select-dropdown li span {
    color: #FFC107;
}
