#clr-button {
  color: #FFC107;
}

.header-text {
  align-items: center;
  color: #FFC107;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px #757575;
  text-align: center;
}

#info-card {
  background-color: #FFC107;
}

#logo {
  padding: 2% 0 5% 0;
  width: 95%;
}

p {
  font-size: 1em;
}

#page-container {
  display: flex;
  flex-wrap: wrap;
}

#submit-button {
  background-color: #FFC107;
}

ul.dropdown-content.select-dropdown li span {
    color: #FFC107;
}
