.input-field {
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 3%;
}

p {
  font-size: 1em;
}

.select-label {
  margin: -3%;
}

#page-container {
  display: flex;
}

#body-display {
  background-color: #F5F5F5;
}

h1 {
  font-family: 'Pacifico', cursive;
  align-items: center;
  color: #FFC107;
  font-kerning: normal;
}
